attrs==19.3.0
click==7.1.1
Flask==1.1.1
Flask-WTF==0.14.3
fonttools==4.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pdf-annotate==0.11.0
pdfrw==0.4
Pillow==7.0.0
Werkzeug==1.0.0
WTForms==2.2.1
