[Unit]
Description=Building 21 Timesheet Generator
After=network-online.target

[Service]
User=b21
ExecStart=/usr/bin/bash -c 'cd /home/b21/timesheet; source bin/activate; uwsgi --ini timesheet.ini --plugin python3'

[Install]
WantedBy=multi-user.target