[Unit]
Description=Building 21 Timesheet Generator
After=network-online.target

[Service]
User=b21
ExecStart=bin/bash -c 'cd /home/b21/timesheet; uwsgi --ini timesheet.ini'

[Install]
WantedBy=multi-user.target