[Unit]
Description=Building 21 Timesheet Generator
After=network-online.target

[Service]
User=b21
ExecStart=/usr/bin/uwsgi --ini /home/b21/timesheet/timesheet.ini
KillSignal=SIGQUIT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target