@font-face {
  font-family: futura-pt;
  src: url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: freight-display-pro;
  src: url("https://use.typekit.net/af/f15774/0000000000000000000132cf/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f15774/0000000000000000000132cf/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f15774/0000000000000000000132cf/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

label {
    font-family: 'futura-pt';
}

th {
    font-family: 'futura-pt';
}

h1 {
    font-size: 4.2rem;
    font-weight: bold;
    font-family: 'futura-pt';
}

h2 {
    font-size: 3rem;
    font-family: 'futura-pt';
}

h3 {
    font-size: 2rem;
    font-family: 'futura-pt';
}

h1,h2,h3 {
    margin: 1em inherit;
}

.personal-data-error input {
    border: red 2px solid !important;
    border-radius: 2px !important;
}

.error {
    color: #FF6347;
}

tr.time-error input[type=time] {
    border: red 2px solid;
    border-radius: 2px;
}

#timesheet-generator {
    max-width: 8in;
    margin: 0 auto;
}

#timesheet-generator .submit {
    text-align: center;
    font-family: 'futura-pt';
}

#timesheet-generator table {
    width: 95%;
}

#week-selector {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

table tr {
    padding: 0.25em 0;
}

table th,td {
    padding: 0 0.25em;
}

#daily-time-input {
    margin: 1em auto;
}

.form-field > input {
    width: 100%;
}

.form-field > select {
    width: 100%;
}

.form-section {
    margin: 1em 0.5em;
}

.flex-subsection {
    display: flex;
}

.flex-subsection > .col {
    flex: 1;
}

.flex-subsection > .col > * {
    margin: 1em 0.5em;
}

#week-selector > * {
    margin: 0 2em;
}
